@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button type="submit" class="btn btn-sm btn-danger" @onclick="closeApp">Salir</button>


        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    private static void closeApp()
    {
        Application.Current.Quit();
    }
}